<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <div class="carro">Carrito({{ carro }})</div>

      <div class="cart">Cart({{ cart }})</div>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img :src="image">
          </div>
          <div class = "product-info">
            <h1>{{ producto }}</h1>
            <button 
              class="button" 
              :class="{ disabledButton: !inStock }"
              :disabled="!inStock"
              v-on:click="cart += 1">
              Add Cart
            </button>
            <button class="button" v-on:click="cart -= 1">Remove Cart</button>
            <p v-show="inStock">{{descripcion}}</p>
            <div 
              v-for="variant in variantes" 
              :clave="variant.id" 
              @mouseover="updateImage(variant.image)"
              class="color-circle"
              :class="[ isActive ? activeClassc: '' ]"
              :style="{ backgroundColor: variant.color }">
              {{variant.color}} 
            </div>          
            <p v-if="inventario > 10">In Stock</p>
            <p v-else-if="inventario <= 10 && inventario > 0">Ultimas Unidades</p>
            <p v-else>Out of Stock</p>
            <div 
              v-for="variant in variantes"
              :key="variant.id"
              v-on:mouseover="updateImage(variant.image)"
              class="color-circle"
              :style="styles">
              {{variant.id}} </div>
            <button 
              class="button" 
              v-on:click="add2Cart">
              Agregar a carrito
            </button>
            <button 
              class="button" 
              @click="removeCart">
              Sacar del carrito
            </button>
            <p v-if="OnSale">OFERTON!!</p>
            <ul>
                <li v-for="detail in detalles">{{detail}}</li>
            </ul>
            <ul>
                <li v-for="size in talles">{{size}}</li>
            </ul>
            <a v-bind:href="web">Hecho por Bestpampa!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Import App -->
    <script src="./main.js"></script>
    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>